<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RP Live</title>
</head>
<body>
    <h1>Test Input</h1>
    <form action="/select" method="post">
        <input type="text" name="name" placeholder="Name">
        <select name="Character">
            <option deactivated selected value="">Select Default Character</option>
            <option value="Taco Tim">Taco Tim</option>
            <option value="Salsa Sally">Salsa Sally</option>
        </select>
        <input type="submit" value="select">
    </form>
</body>
</html>